{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin - EcoRide{% endblock %}

{% block body %}
<main class="pt-5 mt-5 flex-grow-1">
    <div class="container">

        <h1 class="text-eco-green fw-bold text-center mb-5">Dashboard Administrateur</h1>

            <form method="post" action="{{ path('admin_admin_stats_generate') }}">
                <input type="hidden" name="_token" value="{{ csrf_token('generate_stats') }}">
                <button type="submit" class="btn btn-eco mb-4">Générer les stats du jour</button>
            </form>
            <div class="row text-center mb-4">
                <div class="col-md-4">
                    <div class="card card-eco">
                        <p class="mb-1"> Total trajets postés</p>
                        <h4>{{ directData.nbTrajets }}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-eco">
                        <p class="mb-1"> Crédits gagnés</p>
                        <h4>{{ directData.creditsGagnes }}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-eco">
                        <p class="mb-1">Nombre d’utilisateurs</p>
                        <h4>{{ directData.nbUtilisateurs }}</h4>
                    </div>
                </div>
            </div>

        <div class="row mt-5">
            <div class="col-md-6 mb-4">
                <h5 class="text-eco-green text-center">Trajets réalisés par jour</h5>
                <canvas id="chartTrajets"></canvas>
            </div>
            <div class="col-md-6 mb-4">
                <h5 class="text-eco-green text-center">Crédits gagnés par jour</h5>
                <canvas id="chartCredits"></canvas>
            </div>
        </div>

    </div>
</main>

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-dashboard') }}
{% endblock %}
{% endblock %}

