{{ form_start(miniSearchForm, {
    method: 'GET',
    action: path('app_trip_search')
}) }}
    <div class="d-grid gap-2 mt-3">
        {{ form_widget(miniSearchForm.departureCity, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Départ'
            }
        }) }}

        {{ form_widget(miniSearchForm.arrivalCity, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Arrivée'
            }
        }) }}

        {{ form_widget(miniSearchForm.date, {
            'attr': {
                'class': 'form-control'
            }
        }) }}

        <button type="submit" class="btn btn-eco w-100">Rechercher</button>
    </div>
{{ form_end(miniSearchForm) }}
